MONGODB_URI=mongodb://localhost:27017/mydatabase
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30d
PORT=5000
CLIENT_URL=http://localhost:3000
ALLOWED_ORIGINS=
OPENROUTER_API_KEY=your_openrouter_api_key
MODEL_NAME=openai/gpt-4o-mini
CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret
WHATSAPP_AUTH_PATH=./.baileys_auth
NODE_ENV=development